<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #data="ngForm" (ngSubmit)=Registre(data)>
    <ion-item lines="full">
      <ion-label position="floating">Prenom</ion-label>
      <ion-input type="text" name ="prenom" [(ngModel)]="prenom" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" name ="name" [(ngModel)]="name" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="text" name ="nom" [(ngModel)]="phone" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name ="email" [(ngModel)]="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name ="password" [(ngModel)]="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" shape="round" >Inscription</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>